<?xml  version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:jdbc="http://www.springframework.org/schema/jdbc"

	xsi:schemaLocation="
        http://www.springframework.org/schema/beans   http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/jee     http://www.springframework.org/schema/jee/spring-jee.xsd
        http://www.springframework.org/schema/mvc     http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/tx      http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop     http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/util    http://www.springframework.org/schema/util/spring-util.xsd
        http://www.springframework.org/schema/jdbc    http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
        ">

	<!-- <context:annotation-config />

	<context:component-scan base-package="com.golenchi.web">
		<context:include-filter type="annotation"
			expression="org.springframework.stereotype.Repository" />
	</context:component-scan> -->

<!-- 	<bean id="defaultPersistenceUnitManager_DS"
		class="org.springframework.orm.jpa.persistenceunit.DefaultPersistenceUnitManager">
		<property name="persistenceXmlLocations">
			<list value-type="java.lang.String">
				<value>classpath:/META-INF/golenchi_persistence.xml</value>
			</list>
		</property>
	</bean>
	//defaultPersistenceUnitManager starts
	<bean id="golenchi_DS"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean"
		depends-on="transactionManager">
		<property name="persistenceUnitManager" ref="defaultPersistenceUnitManager_DS" />
		<property name="persistenceUnitName" value="golenchi_DS" />
		<property name="dataSource" ref="dataSource" />
	</bean> -->
	<!-- <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="golenchi_DS" />
		<property name="dataSource" ref="dataSource" />

	</bean> -->
	<tx:annotation-driven transaction-manager="transactionManager" />

	<!-- defaultPersistenceUnitManager ends -->

	<aop:aspectj-autoproxy proxy-target-class="true" />

	<aop:config>
		<aop:pointcut id="defaultServiceOperation"
			expression="execution(public * com.golenchi.web.service.impl.*Service*.*(..))" />
		<aop:advisor pointcut-ref="defaultServiceOperation"
			advice-ref="defaultTxAdvice" />
	</aop:config>

	<tx:advice id="defaultTxAdvice">
		<tx:attributes>
			<tx:method name="*" propagation="REQUIRED" rollback-for="Exception" />
		</tx:attributes>
	</tx:advice>	

</beans>
